# Lavoro svolto

> Sintesi del contributo personale di {{ t.candidato }}, da compilare in ricognizione e tenere aggiornata.
> Distinguere ciò che esisteva già da ciò che è stato realizzato.

## Contesto di partenza (già esistente)

TODO

## Contributo realizzato

TODO

## Risultati ottenuti

TODO
