\begin{otherlanguage}{italian}
\chapter*{Sommario}
\addcontentsline{toc}{chapter}{Sommario}

% Contesto, problema, soluzione realizzata, risultati principali (150--250 parole).
TODO: scrivere il sommario.
\end{otherlanguage}
