\begin{otherlanguage}{english}
\chapter*{Abstract}
\addcontentsline{toc}{chapter}{Abstract}

% Context, problem, implemented solution, main results (150--250 words).
TODO: write the abstract.
\end{otherlanguage}
