\chapter{<< titolo|tex >>}
\label{ch:conclusioni}

% SCOPO: sintetizzare i risultati rispetto agli obiettivi e ai requisiti, dichiarare i
% limiti del lavoro e proporre sviluppi futuri. Nessun contenuto nuovo.

TODO: scrivere le conclusioni.
