\newcommand{\TesiCandidato}{<< t.candidato|tex >>}
\newcommand{\TesiTitolo}{<< t.titolo|tex >>}
\newcommand{\TesiArgomento}{<< t.argomento|tex >>}
\newcommand{\TesiAzienda}{<< t.azienda|tex >>}
\newcommand{\TesiAteneo}{<< t.ateneo|tex >>}
\newcommand{\TesiRelatore}{<< t.relatore|tex >>}
\newcommand{\TesiCorrelatore}{<< t.correlatore|tex >>}
\newcommand{\TesiAnnoAccademico}{<< t.anno_accademico|tex >>}
\newcommand{\TesiTipo}{<< tipo_tesi|tex >>}
