% Solo riferimenti certi. In caso di dubbio non inventare: nel testo usare \cite{TODO-...}.
% Attenzione: BibTeX interpreta come voce qualsiasi "chiocciola" anche nei commenti.
% Per aggiungere una voce, scrivere sotto una voce completa, ad esempio:
%   (tipo article) chiave2024 con campi author, title, journal, year.
